## Python statistics essential training - 03_05_categorical

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

import pandas.plotting

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [4]:
smoking = pd.read_csv('whickham.csv')

In [5]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [6]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
outcome    1314 non-null object
smoker     1314 non-null object
age        1314 non-null int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [7]:
smoking.smoker.value_counts()

No     732
Yes    582
Name: smoker, dtype: int64

In [8]:
pd.DataFrame(smoking.smoker.value_counts())

     smoker
No      732
Yes     582

In [9]:
pd.DataFrame(smoking.smoker.value_counts(normalize=True))

       smoker
No   0.557078
Yes  0.442922

In [11]:
pd.DataFrame(smoking.outcome.value_counts(normalize=False))

       outcome
Alive      945
Dead       369

In [10]:
pd.DataFrame(smoking.outcome.value_counts(normalize=True))

        outcome
Alive  0.719178
Dead   0.280822

In [13]:

bysmoker = pd.DataFrame(smoking.groupby("smoker").outcome.value_counts(normalize=True))
bysmoker

                 outcome
smoker outcome
No     Alive    0.685792
       Dead     0.314208
Yes    Alive    0.761168
       Dead     0.238832

In [14]:
bysmoker.index

MultiIndex(levels=[['No', 'Yes'], ['Alive', 'Dead']],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['smoker', 'outcome'])

In [15]:
bysmoker.unstack()

          outcome
outcome     Alive      Dead
smoker
No       0.685792  0.314208
Yes      0.761168  0.238832

In [16]:
smoking['ageGroup'] = pd.cut(smoking.age,[0,30,40,53,64],labels=['0-30','30-40','40-53','53-64'])

In [17]:
smoking['ageGroup'].head()

0     0-30
1     0-30
2      NaN
3      NaN
4    53-64
Name: ageGroup, dtype: category
Categories (4, object): [0-30 < 30-40 < 40-53 < 53-64]

In [18]:
smoking.head()

  outcome smoker  age ageGroup
0   Alive    Yes   23     0-30
1   Alive    Yes   18     0-30
2    Dead    Yes   71      NaN
3   Alive     No   67      NaN
4   Alive     No   64    53-64

In [19]:
smoking['age'].head()

0    23
1    18
2    71
3    67
4    64
Name: age, dtype: int64

In [20]:
byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)

In [25]:
pd.DataFrame(byage.head(20))

                          outcome
ageGroup smoker outcome
0-30     No     Alive    0.981818
                Dead     0.018182
         Yes    Alive    0.975610
                Dead     0.024390
30-40    No     Alive    0.955224
                Dead     0.044776
         Yes    Alive    0.940678
                Dead     0.059322
40-53    No     Alive    0.876106
                Dead     0.123894
         Yes    Alive    0.802395
                Dead     0.197605
53-64    No     Alive    0.669291
                Dead     0.330709
         Yes    Alive    0.580645
                Dead     0.419355

In [26]:
byage.unstack()

outcome             Alive      Dead
ageGroup smoker
0-30     No      0.981818  0.018182
         Yes     0.975610  0.024390
30-40    No      0.955224  0.044776
         Yes     0.940678  0.059322
40-53    No      0.876106  0.123894
         Yes     0.802395  0.197605
53-64    No      0.669291  0.330709
         Yes     0.580645  0.419355

In [27]:
byage.unstack().drop("Dead",axis=1)

outcome             Alive
ageGroup smoker
0-30     No      0.981818
         Yes     0.975610
30-40    No      0.955224
         Yes     0.940678
40-53    No      0.876106
         Yes     0.802395
53-64    No      0.669291
         Yes     0.580645